.main {
  display: flex;
  flex-direction: column;
  max-width: 100dvw;

  .section {
    scroll-snap-align: start;
    padding: 10px;
    overflow: hidden;
  }

  .section1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 16px;
    min-height: calc(100dvh - 74px);

    .title {

      h1,
      h2 {
        font-size: 1.4rem;
      }

      h1 {
        background-image: linear-gradient(to right, #07ffe2, #a642af);
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent;
      }
    }

    .description {
      color: rgba(255, 255, 255, 0.839);
    }

    .buttons {
      display: flex;
      gap: 12px;

      a {
        padding: 16px;
        background-color: rgba(255, 255, 255, 0.089);
        border: 1px solid rgba(255, 255, 255, 0.245);
        border-radius: 99px;
        transition: 0.2s ease-in-out;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 8px;
        backdrop-filter: blur(5px);
        -webkit-user-drag: none;
      }

      a:hover {
        scale: 1.04;
      }

      a:active {
        filter: brightness(150%);
      }

      .primary {
        background: linear-gradient(185deg, #5865F2, #3948f0);
        filter: drop-shadow(0, 0, 4px, #5865F2);
      }
    }
  }

  .section2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
    min-height: fit-content;

    .title {
      text-align: center;

      p {
        color: rgba(255, 255, 255, 0.839);
      }
    }

    .features {
      display: grid;
      gap: 16px;
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
      max-width: min(100dvw, 648px);

      .card {
        padding: 10px;
        background-color: rgba(255, 255, 255, 0.156);
        border-radius: 12px;
        border: 1px solid rgba(255, 255, 255, 0.356);
        backdrop-filter: blur(15px);

        .icon {
          font-size: 2rem;
          color: rgba(0, 149, 255, 0.841);
        }

        .title {
          text-align: left;
        }

        .description {
          text-align: left;
          color: rgba(255, 255, 255, 0.839);
        }
      }
    }
  }

  .section3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 24px;
    min-height: calc(100dvh - 74px);

    .title {
      text-align: center;

      p {
        color: rgba(255, 255, 255, 0.839);
      }
    }

    .steps {
      display: flex;
      flex-direction: column;
      align-items: first baseline;
      gap: 16px;

      .step {
        display: flex;
        justify-content: center;
        gap: 16px;

        .number {
          padding: 16px;
          background-color: rgba(255, 255, 255, 0.114);
          border: 1px solid rgba(255, 255, 255, 0.205);
          backdrop-filter: blur(5px);
          border-radius: 50%;
          aspect-ratio: 1 / 1;
          margin: auto;
        }
      }
    }
  }

  .section4 {
    overflow: hidden;
    padding: 10px;
    margin: 10px 20dvw 30px;
    background: radial-gradient(circle,rgb(38, 149, 246) 0%, rgb(36, 97, 252) 100%);
    background-position-x: center;
    background-position-y: bottom;
    border-radius: 22px;
    border: 1px solid rgba(255, 255, 255, 0.243);
    display: flex;
    flex-direction: column;
    gap: 16px;
    min-height: fit-content;

    a {
      padding: 10px;
      border-radius: 12px;
      background-color: rgba(255, 255, 255, 0.345);
      border: 1px solid rgba(255, 255, 255, 0.194);
      transition: .2s ease-in-out;
      width: fit-content;
      -webkit-user-drag: none;
    }
    a:hover {
      scale: 1.08;
    }
    a:active {
      filter: brightness(150%);
    }
  }
}