.guildList {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 10px;
    margin: 0;
    flex-wrap: wrap;
    max-width: 100dvw;

    .guild {
        background-color: rgba(255, 255, 255, 0.157);
        border: 1px solid rgba(255, 255, 255, 0.191);
        border-radius: 12px;
        padding: 10px;
        display: flex;
        backdrop-filter: blur(5px);
        gap: 10px;
        transition: 0.2s ease-in-out;

        .guildIcon {
            background-color: #eeeeee51;
            width: 32px;
            height: 32px;
            border-radius: 4px;
        }

        .guildInfo {
            display: flex;
            flex-direction: column;
        }
    }

    .disabled {
        opacity: 50%;
    }

    .guild:hover {
        background-color: rgba(255, 255, 255, 0.275);
        scale: 1.01;
    }
}