.loading {
  width: 100dvw;
  height: 100dvh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dashboard {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    position: relative;

    .active {
      left: 0 !important;
    }
    .rotated {
      rotate: 180deg;
    }

    .nav {
      backdrop-filter: blur(5px);
      height: 100%;
      width: 250px;
      min-width: 250px;
      max-width: 250px;
      padding: 10px;
      border-right: 1px solid rgba(255, 255, 255, 0.09);
      display: flex;
      flex-direction: column;
      gap: 10px;
      transition: 0.2s ease-in-out;
      position: sticky;
      top: 74px;
      max-height: calc(100dvh - 74px);
      overflow: scroll;
      z-index: 1;

      .guildInfo {
        display: flex;
        align-items: center;
        gap: 10px;
        
        img {
          border-radius: 12px;
        }
      }

      button {
        border-radius: 8px;
        padding: 8px;
        cursor: pointer;
        background: none;
        color: white;
        font-family: monospace;
        transition: 0.2s ease-in-out;
        border: 1px solid transparent;
        text-align: left;
      }
      button:hover {
        background: rgba(255, 255, 255, 0.208);
        border: 1px solid rgba(255, 255, 255, 0.145);
      }

      .selected {
        background: rgba(255, 255, 255, 0.208);
        border: 1px solid rgba(255, 255, 255, 0.145);
      }

      @media (max-width: 600px) {
        position: fixed;
        top: 0;
        left: -250px;
        max-height: unset;
        overflow: unset;
      }

      .mobileOpen {
        display: none;

        @media (max-width: 600px) {
          display: block;
          position: absolute;
          top: 50%;
          right: -35px;
          padding: 4px;
          background: rgba(255, 255, 255, 0.142);
          border: 1px solid rgba(255, 255, 255, 0.229);
          cursor: pointer;
          border-radius: 12px;
          transition: 0.2s ease-in-out;
          color: rgba(255, 255, 255, 0.825);
        }
      }

      .mobileOpen:hover {
        @media (max-width: 600px) {
          scale: 1.1;
          background: rgba(255, 255, 255, 0.27);
          color: white;
        }
      }
    }

    .config {
      padding: 20px;
      display: flex;
      flex-direction: column;
      gap: 20px;

      input, textarea, select {
        border-radius: 12px;
        border: 1px solid rgba(255, 255, 255, 0.286);
        background-color: rgba(255, 255, 255, 0.671);
        backdrop-filter: blur(5px);
        padding: 8px;
        transition: 0.2s ease-in-out;
      }
      input:hover, textarea:hover, select:hover {
        background-color: white;
      }

      label {
        font-weight: 800;
      }
      p {
        font-weight: 100;
        opacity: 75%;
      }

      section {
        display: flex;
        flex-direction: column;
        gap: 8px;

        .option {
          display: flex;
          flex-direction: column;
          gap: 2px;

          select {
            background-color: rgba(255, 255, 255, 0.671);

            option {
              transition: 0.2s ease-in-out;
              cursor: pointer;
              border-radius: 4px;
            };
            option:checked {
              background-color: rgba(255, 255, 255, 0.542);
            }
            option:hover {
              scale: 1.01;
            }
          }
          select:hover {
            background-color: rgba(255, 255, 255, 0.671);
          }
        }
      }

      .saveButton {
        background-color: rgba(19, 173, 19, 0.722);
        color: rgba(255, 255, 255, 0.865);
        width: 25%;
        margin-left: auto;
        padding: 10px;
        border-radius: 12px;
        border: 1px solid rgba(255, 255, 255, 0.358);
        transition: .2s ease-in-out;
        backdrop-filter: blur(5px);
        cursor: pointer;
      }
      .saveButton:hover {
        scale: 1.05;
      }
    }
}