* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  border: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

body {
  box-sizing: border-box;
  background-image: url(/cursodoimperio.png);
  background-size: cover;
  background-attachment: fixed;
  user-select: none;
  font-family: monospace;
  color: white;

  @media (max-width: 600px) {
    margin-bottom: 70px;
  }
}