.ntpopups-overlay {
    backdrop-filter: blur(5px)
}

.ntpopups-header {
    color: white;
    font-size: 1.2em;
    font-weight: bold;
}

.ntpopups-container {
    background: black;
    border: 1px solid rgba(255, 255, 255, 0.172);
    border-radius: 12px;
    font-family: monospace !important;
}

.ntpopups-basebutton {
    background-color: rgb(0, 132, 255);
    border: 1px solid rgba(255, 255, 255, 0.172);
    font-family: monospace !important;
}
.ntpopups-basebutton:hover {
    background-color: rgb(0, 132, 255) !important;
}
.ntpopups-basebutton:active {
    filter: brightness(150%);
}